/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/


body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: ("./images.frame.png");
  background-color: #06365f;

}

#phone {  
  display: inline-block;
  padding: 34% 34%;
  margin: 2% 3% 4% 5%
}
#home{
  background-color: #1c5380;
  padding:2% 3% 4% 5%;
}

#frame{
  display: inline-block;

}
