/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/


body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  /*background-image: ("./images.frame.png");*/
  /*background-color: #06365f;*/
  margin:40 30;
  padding: 20 10;
  background-image:url("images/bgtile.png");
 background-repeat: repeat-x;
}

/*bg-repeat {
   background-image:url("./images/bgtile.png");
 background-repeat: repeat-x;
 display: inline-block
}*/

.phone{
  display: inline-block;
  margin: 2% 2%;
  padding: 15% 25%;
}

.content{
  display: inline-block;
  margin: 2% 2%;
  padding: 15% 25% 5% 25%;
}

.frame{
  background-image: url("./images/frame.png");
  border: 5% 5%;
}
.button{
  color: #1c5380; 
}

footer{ 
   margin: 2% 2%;
  padding: 5% 25% 5% 25%
  
}
 
.nav-links a {
   text-decoration: none;
   color:rgb(43,55,121); 
}
.nav-links a.hover{
  text-decoration: none;
  color:grey;
}






